<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Архитектура компьютеров</string>
		<key>description</key>
		<string>Изложены теоретические основы построения современных вычислительных систем. Приведены примеры существующих и перспективных архитектурных решений. Рассмотрены направления развития высокопроизводительной техники. Материал подготовлен в полном соответствии с учебной программой дисциплины &quot;Архитектура вычислительных систем&quot;. Отдельные главы можно использовать при изучении смежных курсов &quot;Операционные системы&quot;, &quot;Системы параллельного действия&quot;, &quot;Проектирование процессорной обработки&quot; и т.д.</string>
		<key>image</key>
		<string>AK</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Математический анализ</string>
		<key>description</key>
		<string>Пособие содержит основные разделы математического анализа, обязательные для математических и физических специальностей и являющиеся базой для серьезного изучения экономических дисциплин.</string>
		<key>image</key>
		<string>MA</string>
	</dict>
</array>
</plist>
